<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TCM</title>
    <style>
      * {
        margin: 0px;
        padding: 0px;
      }

      body {
        background-image: url("https://cdn1.photostockeditor.com/c/2812/black-white-pencil-on-black-platform-background-background-image.jpg");
        background-size: cover;
        font-family: sans-serif;
      }

      .nav {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 15px 2px 2px gold;
        padding: 10px;
        height: 50px;
      }

      button {
        border: none;
      }

      .head {
        font-size: 2.2rem;
        color: #fff;
        font-weight: 600;
        font-family: monospace;
        margin-left: 15px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .profile {
        color: gold;
        text-decoration: none;
        font-size: 2.2rem;
        margin-left: 10px;
      }

      .profile:hover {
        color: #7a7893;
      }

      .half {
        display: flex;
      }

      .blogs {
        display: grid;
        grid-template-columns: auto;
        align-content: start;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0px 20px;
        margin: 0px 25px;
      }

      .bai {
        position: relative;
        min-width: 600px;
        max-width: 800px;
        background-color: rgba(0,0,0,0.7);
        padding: 15px;
        margin-top: 25px;
        border: 2px solid gold;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
        text-align: center;
      }

      .bai a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
      }

      .bai a:hover {
        text-decoration: underline;

      }

  
      @media screen and (max-width: 800px) {
        .plus {
          right: 5px;
        }

        .head {
          font-size: 2rem;
          margin-left: 0px;
        }

        .blogs {
          padding: 10px 10px 20px;
          width: auto;
        }

        .bai {
          padding: 15px 10px;
          max-width: 100%;
          min-width: 300px;
        }

        .blog {
          max-width: 100%;
          width: 100%;
          flex-direction: column;
        }

        .blog img {
          margin: auto !important;
          padding: 10px;
        }

        .protfolio {
          display: none;
        }
      }
    </style>
  </head>

  <body>
    <nav class="nav">
      <h1 class="head">Techkriti Content Manager</h1>
      <div class="dropdown" style="margin-right: 15px">
        <a class="profile" href="/<%= profile.slugName %>"
          ><i class="fa fa-user"></i></a>
      </div>
    </nav>

    <section
      style="display: flex; justify-content: center;"
    >
      <div class="blogs">
        <!-- all articles -->

        <% comp.forEach(function (e) { %>
          
        <div class="bai">
          <% if(event == "Competitions" ) {%> <a href="/<%=e.name%>"><%=e.name%></a><%}else{%>
            <a href="/<%=e.name%>/<%=profile.slugName%>"><%=e.name%></a>
            <%}%>
        </div>
        <%})%>
      </div>
        
      </div>
    </section>
  </body>
</html>
