<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog site</title>
    <style>
      * {
        margin: 0px;
        padding: 0px;
      }

      html {
        height: 100%;
        background-color: #f2f2f2;
      }

      body {
        font-family: sans-serif;
      }

      .nav {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        box-shadow: 15px 2px 2px white;
        padding: 10px;
        height: 50px;
        background-color: #1b324f;
      }

      .head {
        font-size: 2.2rem;
        color: #fff;
        font-weight: 600;
        font-family: monospace;
        margin-left: 15px;
      }

      .plus {
        font-size: 2.2rem;
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        right: 0px;
        top: 50px;
        background-color: #2d2d2d;
        min-width: 100px;
        padding: 8px 0px;
        z-index: 1;
        border-radius: 10px;
      }

      .arrow-top:after {
        content: " ";
        position: absolute;
        right: 19px;
        top: -15px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid #2d2d2d;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropdown-content1 {
        display: none;
        position: absolute;
        left: -17px;
        top: 45px;
        background-color: #2d2d2d;
        min-width: 100px;
        padding: 8px 0px;
        z-index: 1;
        border-radius: 10px;
      }

      .arrow-top1:after {
        content: " ";
        position: absolute;
        left: 15px;
        top: -15px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid #2d2d2d;
      }

      .dropdown:hover .dropdown-content1 {
        display: block;
      }

      .home {
        font-size: 2.2rem;
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
      }

      .home:hover {
        color: black;
      }

      .userInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px;
        background-color: white;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
      }

      .user-name {
        font-size: 25px;
        font-family: monospace;
      }

      .user-posts {
        font-size: 20px;
      }

      .half {
        display: flex;
      }

      .blogs {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
      }

      .bai {
        border: 2px solid white;
        border-radius: 10px;
        min-width: 600px;
        max-width: 800px;
        /* width: 100%; */
        background-color: white;
        padding: 15px;
        margin: 20px 0px 10px;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
      }

      .blog {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .content-img {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .blog-content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }

      .written-by {
        font-size: 14px;
        margin-bottom: 8px;
        font-family: monospace;
        font-weight: 600;
      }

      .head1 {
        width: 85%;
        margin-bottom: 10px;
        color: black;
        font-size: 2em;
        word-spacing: -5px;
        font-family: monospace;
        text-decoration: none;
        font-weight: 600;
      }

      .head1:hover {
        text-decoration: underline;
      }

      .date {
        color: darkslategray;
        margin: 3px 0px 8px;
        font-size: 0.7rem;
      }

      .para {
        width: 85%;
        font-size: 1.3rem;
      }

      .like {
        font-size: 1rem;
        margin-top: 10px;
        color: #7a7893;
      }

      .btns {
        display: flex;
      }

      .btn {
        margin: 5px 0px 0px -1px;
        background-color: white;
        border: 2px solid white;
        border-radius: 8px;
        cursor: pointer;
      }

      .btn-delete {
        background-color: white;
        padding: 5px;
        color: #7a7893;
        font-size: 1.3rem;
        border: 2px solid #fff;
      }

      .btn-delete:hover {
        color: red;
      }

      .btn-edit {
        background-color: white;
        border: 2px solid #fff;
        padding: 5px;
      }

      .anchor-edit {
        font-size: 1.3rem;
        text-decoration: none;
        color: #7a7893;
      }

      .anchor-edit:hover {
        color: black;
      }

      .like-btn {
        color: black;
        font-size: 1.5rem;
        background-color: white;
        border: 2px solid white;
        border-radius: 8px;
        cursor: pointer;
      }

      .like-btn:hover {
        color: #4267b2;
      }

      .logout {
        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: 10px;
        background-color: #f11818;
        color: white;
        font-size: 20px;
        border-radius: 10px;
        text-decoration: none;
      }

      .logout:hover {
        text-decoration: underline;
        background-color: white;
        color: #7a7893;
      }

      @media screen and (max-width: 800px) {
        .plus,
        .home {
          margin-right: 10px;
        }

        .head {
          font-size: 2rem;
        }

        .blogs {
          padding: 0px 10px;
        }

        .bai {
          padding: 15px 10px;
          max-width: 100%;
          min-width: 300px;
          box-sizing: border-box;
        }

        .content-img {
          flex-direction: column;
        }
      }
    </style>
  </head>

  <body>
    <nav class="nav">
      <h1 class="head">Blog site</h1>

      <div class="icons">
        <!-- new article -->
        <div class="dropdown">
          <a href="/new-article/create/<%= profile.slugName %>" class="plus"
            ><i class="fas fa-plus"></i
          ></a>
        </div>

        <!-- home -->

        <div class="dropdown">
          <a href="/feed" class="home"><i class="fas fa-home"></i></a>
        </div>
      </div>
    </nav>

    <div class="userInfo">
      <p class="user-name"><%= profile.name %></p>
      <p class="user-posts">Posts: <%= blogs.length %></p>
    </div>

    <section
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
      "
    >
      <% if( blogs.length == 0) {%>
      <h1
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          height: 70vh;
          font-size: 4em;
          font-family: monospace;
          font-weight: 500;
          color: #adacac;
        "
      >
        No post yet
      </h1>
      <%}%> <% if(blogs.length != 0) {%>
      <div class="blogs">
        <!-- all articles -->

        <% blogs.forEach(function (e) { %>
        <div class="bai">
          <!-- single article -->
          <div class="blog">
            <div class="content-img">
              <div class="blog-content">
                <!--author name-->
                <p class="written-by">
                  <i
                    class="far fa-user"
                    style="margin-right: 5px; font-size: 18px"
                  ></i>
                  <%= e.name %>
                </p>
                <!-- title -->
                <a
                  href="/readMore/<%= e.slug %>/<%= e.blogNumber %>"
                  class="head1"
                  ><%= e.title %></a
                >
                <!-- description -->
                <p class="para"><%= e.description %></p>

                <!-- date -->
                <p class="date"><%= e.createdAt %></p>

                <!-- no. of likes -->
                <p class="like">
                  <i class="far fa-thumbs-up"></i>
                  <span id="<%= e.id%>"><%=e.likes%></span>
                </p>
              </div>

              <% if(e.imageBase64) {%>

              <img
                src="data:<%= e.contentType %>;base64,<%= e.imageBase64 %>"
                height="150"
                width="200"
                style="margin: 15px"
              />

              <% } %>
            </div>
            <div class="btns">
              <!-- edit button -->

              <div class="dropdown">
                <button class="btn-edit">
                  <a
                    class="anchor-edit"
                    href="/edit/<%= e.slug %>/<%= e.blogNumber %>"
                    ><i class="fas fa-pen"></i
                  ></a>
                </button>
              </div>

              <!-- delete button -->
              <form
                action="/<%= e.id %>?_method=DELETE"
                method="POST"
                class="delete"
              >
                <div class="dropdown">
                  <button type="submit" class="btn-delete">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="btns" style="margin-top: 10px; align-items: center">
            <!-- like button -->
            <!-- <form action="/like/<%= e.id %>?_method=PUT" method="POST"> -->
            <div class="dropdown">
              <button
                type="submit"
                onclick="likePost('<%= e.id %>')"
                class="like-btn"
              >
                <i class="far fa-thumbs-up"></i>
              </button>
            </div>
            <!-- </form> -->
            <!-- comment button -->
            <div class="dropdown">
              <a
                class="like-btn"
                href="/comment/<%= e.slug %>/<%= e.blogNumber %>/<%= profile.slugName %>"
                style="margin-left: 5px"
                ><i class="far fa-comment"></i
              ></a>
            </div>
          </div>
        </div>
        <%})%>
      </div>
      <%}%>
      <!-- logout -->
      <a href="/user/logout" class="logout"
        ><i class="fas fa-sign-out-alt"></i> Logout</a
      >
    </section>
    <script>
      function likePost(id) {
        var totalLikes = document.getElementById(`${id}`);
        fetch(`/like/post/${id}`, {
          method: "PUT",
          headers: {
            "content-type": "application/json",
          },
          body: {
            postId: id,
          },
        })
          .then((res) => res.json())
          .then((result) => {
            totalLikes.innerHTML = result.likes;
          });
      }
    </script>
  </body>
</html>
