<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog site</title>
    <style>
      * {
        margin: 0px;
        padding: 0px;
      }

      body {
        font-family: sans-serif;
      }

      .nav {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 15px 2px 2px white;
        border-bottom: 2px solid black;
        padding: 10px;
        height: 70px;
      }

      .head {
        font-size: 4rem;
        color: black;
        font-weight: 500;
        font-family: monospace;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        right: -15px;
        top: 60px;
        background-color: #2d2d2d;
        min-width: 100px;
        padding: 8px 0px;
        z-index: 1;
        border-radius: 10px;
      }

      .arrow-top:after {
        content: " ";
        position: absolute;
        right: 19px;
        top: -15px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid #2d2d2d;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropdown-content1 {
        display: none;
        position: absolute;
        left: -17px;
        top: 45px;
        background-color: #2d2d2d;
        min-width: 100px;
        padding: 8px 0px;
        z-index: 1;
        border-radius: 10px;
      }

      .arrow-top1:after {
        content: " ";
        position: absolute;
        left: 15px;
        top: -15px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid #2d2d2d;
      }

      .dropdown:hover .dropdown-content1 {
        display: block;
      }

      .profile {
        color: black;
        text-decoration: none;
        font-size: 2.5rem;
      }

      .profile:hover {
        color: #7a7893;
      }

      .half {
        display: flex;
      }

      .blogs {
        width: 60%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        margin: 20px 10px 10px 10px;
      }

      .bai {
        position: relative;
        width: 95%;
        background-color: white;
        padding: 15px;
        margin-top: 25px;
      }

      .blog {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
      }

      .written-by {
        display: flex;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        font-family: monospace;
        font-weight: 600;
        text-decoration: none;
        color: black;
      }

      .head1 {
        width: 85%;
        margin-bottom: 10px;
        color: black;
        font-size: 2em;
        word-spacing: -5px;
        font-family: monospace;
        text-decoration: none;
        font-weight: 600;
      }

      .head1:hover {
        text-decoration: underline;
      }

      .date {
        color: darkslategray;
        margin: 3px 0px 8px;
        font-size: 0.7rem;
      }

      .para {
        width: 85%;
        font-size: 1.3rem;
      }

      .like {
        font-size: 1rem;
        margin-top: 10px;
        color: #7a7893;
      }

      .btns {
        margin-top: 10px;
        display: flex;
      }

      .btn {
        margin: 5px 0px 0px -1px;
        background-color: white;
        border: 2px solid white;
        border-radius: 8px;
        cursor: pointer;
      }

      .like-btn {
        color: black;
        font-size: 1.5rem;
        background-color: white;
        border: 2px solid white;
        border-radius: 8px;
        cursor: pointer;
      }

      .like-btn:hover {
        color: #4267b2;
      }

      @media screen and (max-width: 800px) {
        .plus {
          right: 5px;
        }

        .head {
          font-size: 3rem;
        }

        .blogs {
          width: auto;
        }

        .bai {
          padding: 15px 10px;
          max-width: 100%;
        }
      }
    </style>
  </head>

  <body>
    <nav class="nav">
      <h1 class="head">Blog site</h1>
      <div class="dropdown" style="margin-right: 15px">
        <a
          class="profile"
          href="/<%= profile.slugName %>/<%= profile.registerNumber %>"
          ><i class="far fa-user"></i
        ></a>
        <div class="dropdown-content arrow-top">
          <p style="text-align: center; color: white">Profile</p>
        </div>
      </div>
    </nav>

    <section>
      <div class="blogs">
        <!-- all articles -->

        <% article.forEach(function (e) { %>
        <div class="bai">
          <!-- single article -->
          <div class="blog">
            <!--author name-->
            <a
              href="/other-profile/<%= e.name %>/<%= e.registerNumber %>"
              class="written-by"
            >
              <i
                class="far fa-user"
                style="margin-right: 5px; font-size: 18px"
              ></i>
              <%= e.name %>
            </a>
            <!-- title -->
            <a href="/readMore/<%= e.slug %>/<%= e.blogNumber %>" class="head1"
              ><%= e.title %></a
            >

            <!-- description -->
            <p class="para"><%= e.description %></p>

            <!-- date -->
            <p class="date"><%= e.createdAt %></p>

            <!-- no. of likes -->
            <p class="like"><i class="far fa-thumbs-up"></i> <%= e.likes %></p>

            <div
              class="btns"
              style="
                margin-top: 10px;
                align-items: center;
                justify-content: center;
              "
            >
              <!-- like button -->
              <form action="/like/<%= e.id %>?_method=PUT" method="POST">
                <div class="dropdown">
                  <button type="submit" class="like-btn">
                    <i class="far fa-thumbs-up"></i>
                  </button>
                  <div class="dropdown-content1 arrow-top1">
                    <p style="text-align: center; color: white">Like</p>
                  </div>
                </div>
              </form>

              <!-- comment button -->
              <div class="dropdown">
                <a
                  class="like-btn"
                  href="/comment/<%= e.slug %>/<%= e.blogNumber %>/<%= profile.registerNumber %>"
                  style="margin-left: 5px"
                  ><i class="far fa-comment"></i
                ></a>
                <div class="dropdown-content1 arrow-top1">
                  <p style="text-align: center; color: white">Comment</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </section>
  </body>
</html>
