<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog site</title>
    <style>
      * {
        margin: 0px;
        padding: 0px;
      }

      body {
        background-color: #f2f2f2;
        font-family: sans-serif;
      }

      button {
        border: none;
      }

      .top {
        height: 100vh;
        background-image: url("https://i.pinimg.com/736x/6e/5a/9b/6e5a9b7514899500000d31e685c3e0a3.jpg");
      }

      .nav {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 15px 2px 2px white;
        border-bottom: 3px solid black;
        background-color: rgba(0,0,0,0.7);
        padding: 10px;
        height: 50px;
      }

      .intro {
          display:  flex;
          flex-direction: column;
          height: 100%;
          align-items: center;
          justify-content: center;
          background-color: rgba(0,0,0,0.7);
      }

      .head {
        font-size: 2.2rem;
        color: #fff;
        font-weight: 600;
        font-family: monospace;
        margin-left: 15px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .profile {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        margin-left: 30px;
      }

      .profile:hover {
        color: #7a7893;
      }

      .blogs {
        display: grid;
        grid-template-columns: auto;
        align-content: start;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0px 20px;
        margin: 0px 25px;
      }

      .bai {
        position: relative;
        min-width: 600px;
        max-width: 800px;
        background-color: rgba(0, 0,0, 0.7);
        padding: 15px;
        margin-top: 25px;
        border: 2px solid gold;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
      }

      img {
        max-width: 100%;
      }

      .blog {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .written-by {
        display: flex;
        font-size: 14px;
        align-items: center;
        margin-bottom: 15px;
        font-family: monospace;
        font-weight: 600;
        text-decoration: none;
        color: white;
      }

      .written-by:hover {
        color: gold;
      }

      .head1 {
        width: 85%;
        margin-bottom: 10px;
        color: white;
        font-size: 1.8em;
        word-spacing: -5px;
        font-family: monospace;
        text-decoration: none;
        font-weight: 600;
      }

      .head1:hover {
        color: gold;
        text-decoration: underline;
      }

      .date {
        color: wheat;
        margin: 3px 0px 8px;
        font-size: 0.7rem;
      }

      .para {
        color: white;
        font-size: 1.2em;
        margin: 10px 0px;
      }

      .like {
        font-size: 1rem;
        margin-top: 10px;
        color: white;
      }

      .about-devs {
      z-index: 1050;
      position: fixed;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(to bottom right, #f5365c, #fb6340);
      display: none;
      justify-content: center;
      align-items: center;
    }

    .person1 {
      margin: 25px;
      color: white;
      text-align: center;
    }

    .photo {
      height: 100px;
      width: 100px;
      border-radius: 100%;
    }

    .blur {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    .appear {
      display: flex;
      opacity: 1 !important;
    }

    .cross {
      position: absolute;
      top: 5px;
      right: 10px;
    }

    .cross1 {
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }

    .cross2 {
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }


      .footer {
          color: grey;
        text-decoration: none;

      }

      .footer:hover {
          color: black;
      }
      @media screen and (max-width: 800px) {
        .plus {
          right: 5px;
        }

        .head {
          font-size: 1.2rem;
        }

        .profile {
          font-size: 1.2rem;
          margin-left: 0px;
        }

         #profile {
             display: none;
         }

         .intro {
             text-align: center;
         }
        .blogs {
          padding: 10px 10px 20px;
          width: auto;
        }

        .homewrite {
          font-size: 2em !important;
        }

        .bai {
          padding: 15px 10px;
          max-width: 100%;
          min-width: 300px;
        }

        .blog {
          max-width: 100%;
          width: 100%;
          flex-direction: column;
        }

        .blog img {
          margin: auto !important;
          padding: 10px;
        }
        .footer {
          font-size: 0.8em;
        }
      }
    </style>
  </head>

  <body>
    <section class="top">
<nav class="nav" id='nav'>
      <h1 class="head">Blog site</h1>
      <div class="dropdown" style="margin-right: 15px">
        <a class="profile" id="profile" href="/login">login</a>
        <a class="profile" href="/register"
          >Getting started</a>
      </div>
    </nav>
    <div class="intro">
        <h1 style="
        font-size: 3.3rem;
        font-weight: 400;
        color: #fff;
    ">If you wish to be a writer, <b>write</b></h1>
        <i style="
        color: #fff;
        align-self: self-end;
        width: 30%;
        margin-top: 10px;
    ">-Epictetus</i>
    </div>
  </section>
  <section
  style="flex-direction: column;background-color: #DDDAD8;height: 100vh;display: flex;justify-content: center;align-items: center;"
    >
    <h1 class="homewrite" style="
    font-size: 45px;
    margin-bottom: 15px;
    font-family: monospace;
">Write on blog-site</h1>
    <div style="
    text-align: JUSTIFY;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: #585454;
    FONT-SIZE: 19px;
">
    The primary reason for writing anything is to communicate with others, to stimulate interest or action from the reader. You may also use writing to help you to reflect on your experiences and learn from them.
    Writing sometimes has more impact than other communication channels. Through writing, you can select language to influence the thoughts and actions of your reader in particular ways, guiding them through your evidence and argument to convince them of your analysis and conclusions.
  </div>
  <a
            href="/login"
            style="
              padding: 12px;
              border-radius: 10px;
              color: white;
              font-size: 20px;
              text-decoration: none;
              margin-top: 15px;
              background-color: #4C69BA;
            "
            >Start writing</a
          >
    </section>
    <section
      style="display: flex; justify-content: center; align-items: center; background-image: url('https://media.istockphoto.com/photos/black-wooden-desk-blackboard-periodic-table-crack-cocaine-texture-picture-id991775902?k=20&m=991775902&s=170667a&w=0&h=yEGyO2MRyzaNynO4GLWfEx4oxOqbYHaj0i8s5ojYGDs='); height: 100vh; flex-direction: column;"
    >
    <h1 style="font-size: 40px;color: gold">Blogs</h1>
      <div class="blogs">
        <!-- all articles -->

        <% blogs.forEach(function (e) { %>
        <div class="bai">
          <!-- single article -->
          <div class="blog">
            <div
              style="
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              "
            >
              <!--author name-->
              <div>
                <a href="/login" class="written-by">
                  <i
                    class="far fa-user"
                    style="margin-right: 5px; font-size: 18px"
                  ></i>
                  <%= e.name %>
                </a>
                <!-- title -->
                <a
                  href="/login"
                  class="head1"
                  ><%= e.title %></a
                >

                <!-- description -->
                <p class="para"><%= e.description %></p>

                <!-- date -->
                <p class="date"><%= e.createdAt %></p>
              </div>
              <!-- no. of likes -->
              <p class="like">
                <i class="far fa-thumbs-up"></i> <%= e.likes %>
              </p>
            </div>

            <% if(e.imageBase64) {%>

            <img
              src="data:<%= e.contentType %>;base64,<%= e.imageBase64 %>"
              height="150"
              width="200"
              style="margin: 15px"
            />

            <% } %>
          </div>
        </div>
        <%})%>
      </div>
        
      </div>
    </section>
    <footer style="
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background: #fff;
">
<p class="footer" id='bttn'>Developer</p>
<a class="footer" href="https://www.linkedin.com/in/vihan-kochatta-179606223/" target="_blank">Contact-us</a>
        <a href="/oops/maintance" class="footer">Terms</a>
        <a href='/oops/maintance' class="footer">Policy</a>
        <a class="footer" href='#nav'>Home</a>
        <div class="about-devs">
          <!--for developers element or developers info-->

          <div class="person1">
            <div class="cross">
              <i class="fas fa-times" style="font-size: 30px; cursor: pointer"></i>
            </div>
            <!-- <img
              class="photo"
              src="https://www.iitk.ac.in/counsel/assets/img/developers/abhishek.jpg"
            /> -->
            <h4 style="margin: 10px; font-size: 3em; font-family: monospace;">Vihan Kochatta</h4>
            <p class="email" style="font-size: 1.4em;">ft.vihank20@iitk.ac.in</p>

            <div class="icons3" style="margin-top: 10px;">
              <a
                href="https://www.instagram.com/vihankochatta/"
                style="color: white"
                ><i
                  class="fab fa-facebook-square"
                  style="margin: 5px; font-size: 20px"
                ></i
              ></a>
              <a href="https://github.com/vihankochatta49" style="color: white"
                ><i
                  class="fab fa-github-square"
                  style="margin: 5px; font-size: 20px"
                ></i
              ></a>
              <a
                href="https://www.linkedin.com/in/vihan-kochatta-179606223/"
                style="color: white"
                ><i
                  class="fab fa-linkedin"
                  style="margin: 5px; font-size: 20px"
                ></i
              ></a>
            </div>
          </div>

        </div>
    </footer>
    <script>
      // developers info script and cross script
      var aboutDevs = document.querySelector(".about-devs");
      var Blur = document.querySelector(".blur");
      var bttn = document.querySelector("#bttn");
      var cross = document.querySelector(".cross");

      bttn.addEventListener("click", () => {
        //Blur.classList.toggle('appear');
        aboutDevs.classList.toggle("appear");
      });

      cross.addEventListener("click", () => {
        aboutDevs.classList.toggle("appear");
      });

      var services = document.querySelector(".services");
      var servicesA = document.querySelector(".services1");
      var crossA = document.querySelector(".cross1");
      var crossB = document.querySelector(".cross2");

      crossA.addEventListener("click", () => {
        services.classList.toggle("appear");
      });

      crossB.addEventListener("click", () => {
        servicesA.classList.toggle("appear");
      });

      function appearFunctionOne() {
        servicesA.classList.toggle("appear");
      }

      function appearFunction() {
        services.classList.toggle("appear");
      }
    </script>
  </body>
</html>
