<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog site</title>
    <style>
      * {
        margin: 0px;
        padding: 0px;
      }

      html {
        height: 100%;
        background-color: #f2f2f2;
      }

      body {
        background-image: url("https://cdn1.photostockeditor.com/c/2812/black-white-pencil-on-black-platform-background-background-image.jpg");
        background-size: cover;
        font-family: sans-serif;
        height: 100vh;
      }

      .nav {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        box-shadow: 15px 2px 2px gold;
        padding: 10px;
        height: 50px;
      }

      .head {
        font-size: 2.2rem;
        color: white;
        font-weight: 600;
        font-family: monospace;
        margin-left: 15px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .home {
        font-size: 2.2rem;
        color: gold;
        text-decoration: none;
        margin-right: 10px;
      }

      .home:hover {
        color: white;
      }

      .userInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px 25px;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
      }

      .user-name {
        color: white;
        font-size: 25px;
        font-family: monospace;
      }

      .user-posts {
        color: white;
        font-size: 20px;
      }

      .blogs {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
      }

      .bai {
        border: 2px solid gold;
        border-radius: 10px;
        min-width: 600px;
        max-width: 800px;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        margin: 20px 0px 10px;
        box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
      }

      .blog {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .content-img {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .blog-content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }

      .written-by {
        font-size: 14px;
        margin-bottom: 15px;
        font-family: monospace;
        font-weight: 600;
        color: white;
      }

      .head1 {
        width: 85%;
        margin-bottom: 10px;
        color: white;
        font-size: 1.8em;
        word-spacing: -5px;
        font-family: monospace;
        text-decoration: none;
        font-weight: 600;
      }

      .head1:hover {
        text-decoration: underline;
      }

      .date {
        color: white;
        margin: 3px 0px 8px;
        font-size: 0.7rem;
      }

      .para {
        color: white;
        width: 85%;
        font-size: 1.2em;
      }

      .like {
        font-size: 1rem;
        margin-top: 10px;
        color: wheat;
      }

      .btns {
        display: flex;
      }

      .btn {
        margin: 5px 0px 0px -1px;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
      }

      .like-btn {
        color: gold;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
      }

      .like-btn:hover {
        color: #4267b2;
      }

      @media screen and (max-width: 800px) {
        img {
          margin: auto !important;
        }
        .plus,
        .home {
          margin-right: 10px;
        }

        .head {
          font-size: 2rem;
          margin-left: 0px;
        }

        .user-name,
        .user-posts {
          font-size: 1.2rem;
        }

        .blogs {
          padding: 0px 10px;
        }

        .bai {
          padding: 15px 10px;
          max-width: 100%;
          min-width: 300px;
          box-sizing: border-box;
        }

        .content-img {
          flex-direction: column;
        }
      }
    </style>
  </head>

  <body>
    <nav class="nav">
      <h1 class="head">Blog site</h1>

      <div class="icons">
        <!-- home -->

        <div class="dropdown">
          <a href="/feed" class="home"><i class="fas fa-home"></i></a>
        </div>
      </div>
    </nav>

    <div class="userInfo">
      <p class="user-name"><%= profile.name %></p>
      <p class="user-posts">Posts: <%= blogs.length %></p>
    </div>

    <section
      style="display: flex; align-items: center; justify-content: center"
    >
      <% if( blogs.length == 0) {%>
      <h1
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          height: 70vh;
          font-size: 4em;
          font-family: monospace;
          font-weight: 500;
          color: #adacac;
        "
      >
        No post yet
      </h1>
      <%}%> <% if(blogs.length != 0) {%>
      <div class="blogs">
        <!-- all articles -->

        <% blogs.forEach(function (e) { %>
        <div class="bai">
          <!-- single article -->
          <div class="blog">
            <div class="content-img">
              <div class="blog-content">
                <!--author name-->
                <p class="written-by">
                  <i
                    class="far fa-user"
                    style="margin-right: 5px; font-size: 18px"
                  ></i>
                  <%= e.name %>
                </p>
                <!-- title -->
                <a
                  href="/readMore/<%= e.slug %>/<%= e.blogNumber %>"
                  class="head1"
                  ><%= e.title %></a
                >
                <!-- description -->
                <p class="para"><%= e.description %></p>

                <!-- date -->
                <p class="date">
                  <%= e.createdAt %>
                  <a
                    style="
                      margin-left: 5px;
                      font-size: 1.2em;
                      text-decoration: none;
                      color: gray;
                    "
                    href="/readMore/<%= e.slug %>/<%= e.blogNumber %>"
                  ></a>
                </p>

                <!-- no. of likes -->
                <p class="like">
                  <i class="far fa-thumbs-up"></i>
                  <span id="<%= e.id%>"><%=e.likes%></span>
                </p>
              </div>

              <% if(e.imageBase64) {%>

              <img
                src="data:<%= e.contentType %>;base64,<%= e.imageBase64 %>"
                height="150"
                width="200"
                style="margin: 15px"
              />

              <% } %>
            </div>
          </div>
          <div class="btns" style="margin-top: 10px; align-items: center">
            <!-- like button -->
            <!-- <form action="/like/<%= e.id %>?_method=PUT" method="POST"> -->
            <div class="dropdown">
              <button
                type="submit"
                onclick="likePost('<%= e.id %>')"
                class="like-btn"
              >
                <i class="far fa-thumbs-up"></i>
              </button>
            </div>
            <!-- </form> -->
            <!-- comment button -->
            <div class="dropdown">
              <a
                class="like-btn"
                href="/comment/<%= e.slug %>/<%= e.blogNumber %>/<%= profile.registerNumber %>"
                style="margin-left: 5px"
                ><i class="far fa-comment"></i
              ></a>
            </div>
          </div>
        </div>
        <%})%>
      </div>
      <%}%>
    </section>
    <script>
      function likePost(id) {
        var totalLikes = document.getElementById(`${id}`);
        fetch(`/like/post/${id}`, {
          method: "PUT",
          headers: {
            "content-type": "application/json",
          },
          body: {
            postId: id,
          },
        })
          .then((res) => res.json())
          .then((result) => {
            totalLikes.innerHTML = result.likes;
          });
      }
    </script>
  </body>
</html>
