<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog site</title>
  </head>
  <style>
    html {
      background-image: url("https://cdn1.photostockeditor.com/c/2812/black-white-pencil-on-black-platform-background-background-image.jpg");
      background-size: cover;
    }
    body {
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7) !important;
      font-family: sans-serif;
      line-height: 1.6;
      margin: 0px;
      padding: 0px;
    }

    .nav {
      display: flex;
      max-width: 100%;
      align-items: center;
      justify-content: space-between;
      box-shadow: 15px 2px 2px gold;
      padding: 10px;
      height: 50px;
    }

    .head {
      font-size: 2.2rem;
      color: white;
      font-weight: 600;
      font-family: monospace;
      margin-left: 15px;
      border-bottom: none;
      padding-bottom: 0;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .home {
      font-size: 2.2rem;
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
    }

    .bloog {
      margin: 0px 25px;
    }

    .written-by {
      display: flex;
      font-size: 4em;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      font-family: monospace;
      font-weight: 600;
      text-decoration: none;
      color: white;
    }

    .head1 {
      color: white;
      margin-bottom: 10px;
    }

    .para {
      color: white;
      font-size: 1.2rem;
    }

    .like {
      font-size: 1rem;
      margin-top: 10px;
      color: #fff;
    }

    /* for markdown */

    h1 {
      border-bottom: 2px solid grey;
      padding-bottom: 2px;
    }

    code {
      background-color: lightgray;
      font-size: 1.3em;
      border-radius: 8px;
      padding: 5px;
      margin-bottom: 5px;
    }

    p,
    li {
      font-size: 18px;
    }

    @media screen and (max-width: 640px) {
      .bloog {
        margin: 0px 10px;
      }
      .head {
        font-size: 2rem;
      }

      .written-by {
        font-size: 2em;
      }

      .btn {
        font-size: 1em;
        margin-top: 0px;
      }
    }
  </style>

  <body>
    <nav class="nav">
      <h1 class="head">Blog site</h1>

      <div class="icons">
        <!-- home -->

        <div class="dropdown">
          <a href="/feed" class="home"><i class="fas fa-home"></i></a>
        </div>
      </div>
    </nav>

    <section>
      <div class="bloog">
        <!--Blog section-->
        <!-- author name -->
        <a class="written-by"> <%= blogs.name %> </a>
        <!--title-->
        <h2 class="head1"><%= blogs.title %></h2>
        <!--description-->
        <p class="para"><%= blogs.description %></p>

        <!--markdown-->
        <%- blogs.sanitizedHtml %>
        <!--total likes-->
        <p class="like">
          <i class="far fa-thumbs-up"></i> <%= blogs.likes %>
          <span style="margin-left: 10px; font-size: 0.9em">
            <%=blogs.createdAt%>
          </span>
        </p>
      </div>
    </section>
  </body>
</html>
